@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* || RESET */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  color: var(--TEXT-COLOR);
}

/* ||  VARIABLES */
:root {
  --MAIN-COLOR: orange;
  --TEXT-COLOR: #171427;
  --BG-COLOR: #fff;
  --FONT-WEIGHT: 600;
  --LIGHTER-FONT-WEIGHT: 500;
}

/* || UTILITY CLASSES */
.nowrap {
  white-space: nowrap;
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  width: 100%;
  font-size: 2rem;
  padding: 30px 0;
  background-color: var(--BG-COLOR);
  box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
  z-index: 100;
}

.logo {
  color: var(--MAIN-COLOR);
  font-weight: var(--FONT-WEIGHT);
  text-align: center;
}

/* MAIN */
.main {
  display: grid;
  grid-template-columns: 70% 30%;
}

.section_title {
  font-size: 1.5rem;
  font-weight: var(--FONT-WEIGHT);
  text-align: center;
  margin-bottom: 1.5rem;
}

/* SHOP CONTENT */
.shop_wrapper {
  padding: 0 3rem 0 3rem;
}

.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1.5rem;
}

/* product section */
.product-box {
  position: relative;
}

.product-box:hover {
  padding: 10px;
  border: 1px solid var(--TEXT-COLOR);
  transition: 0.4s;
}

.product-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.product-title {
  font-size: 1.1rem;
  font-weight: var(--FONT-WEIGHT);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

/* price section */
.price {
  font-weight: var(--LIGHTER-FONT-WEIGHT);
}

/* add to cart section */
.add-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: var(--TEXT-COLOR);
  color: var(--BG-COLOR);
  cursor: pointer;
}

.add-cart:hover {
  background: var(--MAIN-COLOR);
}

/* CART */
.cart_wrapper {
  width: 100%;
  padding: 50px;
  background: var(--BG-COLOR);
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: 0.3s;
}

/* Cart detail section */
.cart-title {
  text-align: center;
  font-size: 1rem;
  font-weight: var(--FONT-WEIGHT);
  margin-top: 2rem;
}

.cart-box {
  display: grid;
  grid-template-columns: 45% 45% 10%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-img {
  width: 100%;
  object-fit: contain;
  padding: 10px;
}

.detail-box {
  display: grid;
  row-gap: 0.5rem;
}

.cart-product-title {
  font-size: 1rem;
  text-transform: uppercase;
}

.cart-price {
  font-weight: 400;
}

.cart-quantity {
  border: 1px solid var(--TEXT-COLOR);
  outline-color: var(--MAIN-COLOR);
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove {
  font-size: 24px;
  color: var(--MAIN-COLOR);
  cursor: pointer;
}

/* Shipping section */
.shipping {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-top: 1px solid var(--TEXT-COLOR);
}

.shipping-title {
  font-size: 1rem;
}

/* .shipping_options {
  padding-left: 1rem;
} */

.shipping_option {
  display: flex;
  justify-content: space-between;
}

.txtShipMethod {
  display: none;
}

/* ORDER SUMMARY */
.summary {
  padding-top: 1rem;
  border-top: 1px solid var(--TEXT-COLOR);
}

.summary_item {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.summary-title {
  font-size: 1rem;
  font-weight: var(--FONT-WEIGHT);
  margin-right: 2rem;
}

/* Button section */
.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: var(--MAIN-COLOR);
  color: var(--BG-COLOR);
  font-size: 1rem;
  font-weight: var(--LIGHTER-FONT-WEIGHT);
  cursor: pointer;
}

.btn-buy:hover {
  background: var(--TEXT-COLOR);
}

/* FOOTER */
footer {
  display: none;
}

@media (max-width: 1080px) {
  section {
    padding: 3rem 0 2rem;
  }
  /* 
  .container {
    margin: 0 auto;
    width: 90%;
  } */

  .shop {
    margin-top: 2rem !important;
  }
}

@media (max-width: 800px) {
  .main {
    grid-template-columns: 100%;
  }

  footer {
    display: block;
    position: sticky;
    bottom: 0;
    padding: 1rem;
    background-color: rgba(255, 166, 0, 0.8);
    color: white;
    cursor: pointer;
  }
  footer p {
    text-align: center;
  }

  footer a {
    color: white;
    font-size: 1.5rem;
  }
}
@media (max-width: 360px) {
  .shop {
    margin-top: 1rem !important;
  }

  footer {
    display: block;
    position: sticky;
    bottom: 0;
    padding: 1rem;
    background-color: rgba(255, 166, 0, 0.8);
    color: white;
    cursor: pointer;
  }
  footer p {
    color: white;
    text-align: center;
  }

  footer a {
    color: white;
    font-size: 1.5rem;
  }
}
