@charset "utf-8";

/* CSS document for Truc's resume website
Devlopped by: Truc
Script Date: November 12th, 2022
*/

/* Styling the general setting */
html{
    color: hsla(0, 3%, 30%, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
} 

body{
    /* background-color: hsla(350, 100%, 88%, 0.5); */
    margin-left: 15%;
    margin-right: 15%;
}

p{
    text-align: justify;
}

/* Styling the header and inside header */
header{
    /* background-color: rgb(74, 151, 218); */
    /* padding-top: 25px;
    padding-bottom: 25px; */
    margin-top: 25px;
    justify-content: center;
}

.navigation{
    display: flex;
    flex-direction: row;
    /* gap: 1rem;   */
}

.links {
    /* width: auto; */
    text-align: center;
    color: black;
    font-size: 100%;
    flex-grow: 1;
}

a {
    text-decoration: none;
}

.navigation a:hover {
    color: rgb(74, 151, 218);
}


/* Styling the general main setting */
main{
    display: flex;
    flex-direction: column;
    /* background-color: whitesmoke; */
    
}
.section{
    flex-grow: 1;
    padding-bottom: 15px;
}

h2{
    /* width: 220px; */
    /* border: solid 1px rgb(74, 151, 218) ; */
    /* margin-left: 35%; */
    text-align: center;
    /* padding: 8px; */
}

/* Styling the introduction (about me) section */
#introduction{
    display: flex;
    flex-direction: row;
}

.profile{
    margin-top: 5px;
    margin-left: 5%;
    padding: 10px;
    flex-grow: 1;    
}

#profileimage{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    padding-bottom: 5px;
    object-fit: cover;
}

.about{
    margin-left: 3%;
    margin-right: 5%;
    flex-grow: 2;
}
#name{
    color: rgb(74, 151, 218);
}


.contacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.contacts > a {
    padding: 8px;
}

.mywork {
    text-decoration: none;
    color: white;
    background-color: rgb(74, 151, 218);
    padding: 0.5rem;
    border-radius: 1rem;
    align-self: center;
}


/* Styling the footer */
footer{
    /* background-color: rgb(74, 151, 218); */
    /* padding-top: 2px;
    padding-bottom: 5px; */
    justify-content: center;
}


.datep {
    text-align: center; 
    padding: auto;
}

.datep input {
    font: inherit;
    background-color: inherit;
    border-style: hidden;
}
