@charset "utf-8";

/* CSS document for Truc's resume website
Devlopped by: Truc
Script Date: November 12th, 2022
*/

/* Styling the general setting */
body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

header, main{
    margin-left: 20%;
    margin-right: 20%;
}

p{
    text-align: justify;
}

/* Styling the header and inside header */
header{
    background-color: rgb(74, 151, 218);
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
}

.navigation{
    display: flex;
    flex-direction: row;
    gap: 5px;  
}

.links {
    width: auto;
    text-align: center;
    color: black;
    font-size: 100%;
    flex-grow: 1;
}

a {
    text-decoration: none;
}

.navigation a:hover {
    color: white;
}

/* Styling the dropdown menu for PROJECTS */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-options {
    display: none;
    position: absolute;
    overflow:auto;
    background-color: rgb(74, 151, 218);
}

.dropdown:hover .dropdown-options {
    width: 100%;
    height: auto;
    display: block;
}

.dropdown-option-item{
    width: 100%;
    padding-top: 8px;

}

#link-mobile, #link-web{
    color: black;
}

#link-mobile:hover, #link-web:hover{
    color: white;
}

.links-project {
    color: black;
}

/* Styling the general main setting */
main{
    display: flex;
    flex-direction: column;
    background-color: white;
    
}
.section{
    flex-grow: 1;
    padding-bottom: 15px;
}

h2{
    width: 220px;
    border: solid 1px rgb(74, 151, 218) ;
    margin-left: 35%;
    text-align: center;
    padding: 8px;
}

/* Styling the introduction (about me) section */
#introduction{
    display: flex;
    flex-direction: row;
}

.profile{
    margin-top: 15px;
    margin-left: 5%;
    padding: 10px;
    flex-grow: 1;    
}

#profileimage{
    width: 200px;
    height: 250px;
    padding-bottom: 5px;
    object-fit: cover;
}

.about{
    margin-left: 3%;
    margin-right: 5%;
    flex-grow: 2;
}
#name{
    color: rgb(74, 151, 218);
}


.contacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.contacts > a {
    padding: 8px;
}

/* Styling the skills section */
#skill{
    background-color: rgba(74, 151, 218, 0.4);
}

.mobile{
    display: none;
}

table{
    margin-left: 5%;
    margin-right: 5%;
}
tr, td{
    padding-right: 30px;
}


/* Styling the projects section */
#mobile, #webdev{
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 5px;
    
}
#yelp{
    float: right;
}

#yelpimage{
    border-radius: 12px;
}

#caption{
    font-size: 65%;
    font-style: italic;
}

/* Styling the education section */
#education{
    background-color: rgba(74, 151, 218, 0.4);
}

.certificate{
    margin-left: 5%;
    margin-right: 5%;
}

/* Styling the activities section */
.detail{
    margin-left: 5%;
    margin-right: 5%;
}
