@charset "utf-8";

/* CSS document for Truc's resume website
Developed by: Truc
*/

/* Styling the general setting */
html{
    color: hsla(0, 3%, 30%, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
} 

body{
    /* background-color: hsla(350, 100%, 88%, 0.5); */
    margin-left: 15%;
    margin-right: 15%;
}

p{
    text-align: justify;
}

/* Styling the header and inside header */
header{
    margin-top: 25px;
    justify-content: center;
}

.navigation{
    display: flex;
    flex-direction: row;
}

.links {
    text-align: center;
    color: black;
    font-size: 100%;
    flex-grow: 1;
}

a {
    text-decoration: none;
}

.navigation a:hover {
    color: rgb(74, 151, 218);
}


/* Styling the general main setting */
main{
    display: flex;
    flex-direction: column;
    
}
.section{
    flex-grow: 1;
    padding-bottom: 15px;
}


/* Styling the introduction (about me) section */
#introduction{
    display: flex;
    flex-direction: row;
}

.profile{
    margin-top: 5px;
    margin-left: 5%;
    padding: 10px;
    flex-grow: 1;    
}

#profileimage{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    padding-bottom: 5px;
    object-fit: cover;
}

.about{
    margin-left: 3%;
    margin-right: 5%;
    flex-grow: 2;
}
#name{
    color: rgb(74, 151, 218);
}


.contacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.contacts > a {
    padding: 8px;
}

.mywork {
    text-decoration: none;
    color: white;
    background-color: rgb(74, 151, 218);
    padding: 0.5rem;
    border-radius: 1rem;
    align-self: center;
}

/* Styling the Project section */
   
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
}


.grid > article img {
    width: 100%;
}

.text {
    padding: 0 20px 20px;
}

.text > button {
    background: rgb(74, 151, 218);
    border: 0;
    color: white;
    padding: 10px;
    width: auto;
    position: relative;
    left: 40%;
    border-radius: 0.5rem;
 
}

button:hover {
    background-color: pink;
    color: white;
    font-size: 1rem;
}



/* Styling the footer */
footer{
    justify-content: center;
}


.datep {
    text-align: center; 
    padding: auto;
}

.datep input {
    font: inherit;
    background-color: inherit;
    border-style: hidden;
}
